[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
praw = "*"
pandas = "*"
fastapi = "*"
uvicorn = "*"
starlette = "*"
pydantic = "*"
jinja2 = "*"
uvloop = "*"
hypercorn = "*"
trio = "*"
asyncpraw = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
